* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 1440px;
}

/* ------------------------------------------------------------------- */
.mobile {
  display: none;
}

#head {
  width: 1440px;
  height: 650px;
  background: url(images/desktop/image-hero.jpg) no-repeat;
  background-size: contain;
  padding: 50px 160px;
}
#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 195px;
  height: 40px;
  background: url(images/logo.svg) no-repeat;
}
.navbar-top {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-family: "Alata", sans-serif;
  font-size: 15px;
}
h1 {
  width: 650px;
  height: 280px;
  border: 2px solid white;
  color: white;
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  padding: 35px 45px;
  margin-top: 130px;
}
a:hover {
  border-bottom: 1px solid white;
}

/* ------------------------------------------------------------------- */

#about {
  width: 1440px;
  height: 800px;
  display: flex;
  padding: 160px 0 0 160px;
}
#vr-guy {
  width: 731px;
  height: 500px;
}
#txt {
  width: 550px;
  height: 315px;
  background: white;
  position: relative;
  left: -160px;
  top: 185px;
  padding: 85px 0 0 95px;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}
p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 55%);
  font-size: 15px;
  line-height: 25px;
  padding-right: 5px;
}

/* ------------------------------------------------------------------- */

#creations {
  padding: 0 160px;
  height: 1250px;
}
#creations-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
button {
  width: 155px;
  height: 40px;
  border: 2px solid hsl(0, 0%, 41%);
  background: white;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  letter-spacing: 4px;
  font-size: 15px;
}
button:hover {
  color: white;
  background: black;
}
#creations-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
  grid-column-gap: 25px;
}
.item {
  width: 256px;
  height: 450px;
  position: relative;
  color: white;
}
h3 {
  text-transform: uppercase;
  position: absolute;
  top: 350px;
  left: 35px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  padding-right: 45px;
}
.item:hover {
  opacity: 0.5;
  color: black;
}

/* ------------------------------------------------------------------- */

footer {
  height: 160px;
  background: black;
  color: white;
  padding: 35px 160px;
  font-family: "Alata", sans-serif;
}
#foot,
#footfoot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.navbar-bottom {
  text-decoration: none;
  color: white;
  margin-right: 30px;
}
.social {
  width: 22px;
  height: 22px;
  margin-left: 10px;
}
.social:hover {
  border-bottom: 1px solid white;
}

/* ------------------------------------------------------------------- */

@media only screen and (max-width: 375px) {
  * {
    max-width: 375px;
  }
  #main {
    width: 375px;
  }
  #head {
    width: 375px;
    height: 100vh;
    padding: 35px 25px;
    background: url(images/mobile/image-hero.jpg) no-repeat;
    background-size: contain;
  }
  .navbar-top {
    display: none;
  }
  .navmobi {
    width: 25px;
    height: 20px;
  }
  h1 {
    width: 325px;
    height: 197px;
    font-size: 40px;
    line-height: 40px;
    padding: 20px;
  }
  /* .navbar-mobile {
    width: 375px;
    height: 100vh;
    background: black;
    display: block;
  } */

  /* ------------------------------------------------------------------- */

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  #about {
    width: 375px;
    height: 100vh;
    flex-direction: column;
    padding: 90px 25px 0 25px;
  }
  .interactive {
    width: 325px;
    height: 225px;
  }
  #txt {
    width: 280px;
    height: 265px;
    left: 0px;
    top: -50px;
    padding: 30px 0 0 25px;
    text-align: center;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }

  /* ------------------------------------------------------------------- */

  #creations {
    display: grid;
    grid-template-columns: 1fr;
    width: 375px;
    padding: 25px 25px;
    margin-bottom: 150px;
  }
  #creations-content {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .item {
    width: 325px;
    height: 120px;
  }
  img {
    width: 325px;
    height: 120px;
  }
  h3 {
    top: 0px;
  }
  button {
    margin: 35px 85px;
  }

  /* ------------------------------------------------------------------- */

  footer {
    width: 375px;
    height: 470px;
    padding: 0;
  }
  #foot,
  #footfoot {
    flex-direction: column;
  }
}
